.text{
  
  float: center;
  color: coral;
}

.hbackground{
  background-color: blueviolet;

}

.textFont{
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-weight: bold
}

.mBottom{
  margin-bottom: 3em
  }
  
  .ctext{
    margin:0;
    padding-left: 9em;
    padding-right: 9em
  }
  
  img{
    margin-left: 1em;
    margin-right: 1em
  }